:root {
    --color: #6778DE;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#formRai {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.submitDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, .4);
}

.btnEdit {
    display: none;
}

.col-4, .col-6, .col-12 {
    margin-top: 10px;
}

label {
    margin: 5px 0;
}

textarea {
    resize: none;
}

#message {
    width: 20%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    padding-right: 10px;
    bottom: 10px;
    text-align: center;
    z-index: 1;
}