:root {
    --color: #6778DE;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}